@model MENSA.ViewModels.AddMenuViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin_functionalities_styles.css" />
    <title>MENSA</title>
</head>
<body>
    <header class="header">
        <div class="title-logo">
            <h1 class="title">MENSA</h1>
            <img class="header-logo" src="/assets/burger.png" alt="Logo" />
        </div>
        <div class="user-wrapper">
            <div class="user-id">@User.Identity.Name</div>
            <div class="dropdown">
                <img class="header-user" src="/assets/user.png" alt="User settings" />
                <div class="dropdown-menu">
                    <div class="logout-wrap">
                        <img class="logout" src="/assets/logout2.png" alt="Log out" />
                    </div>
                    <form method="post" asp-action="Logout" asp-controller="LogIn">
                        <button type="submit" style="width:auto" class="login-button">Odjavi se</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        
        <button type="button">Dodaj novog korisnika</button>
        <button  type="button">Dodaj jelo</button>
    </main>
    <script src="/js/select-menza-screen.js"></script>
</body>
</html>