<!DOCTYPE html>
<html lagn="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/order_number_style.css">
    <title>MENSA</title>
</head>
<body>
    
    <header class="header">
        <div class="title-logo">
            <h1 class="title">MENSA</h1>
            <img class="header-logo" src="/assets/burger.png" alt="Logo">
        </div>
        <div class="user-wrapper">
            <div class="dropdown">
                <img class="header-user" src="/assets/user.png" alt="User settings">
                <div class="dropdown-menu">
                    <div class="logout-wrap">
                    <img class="logout" src="/assets/logout2.png" alt="Log out">
                </div>
                    Odjavi se
                </div>
            </div>
        </div>
    </header>
    <main>
        <article class="article-wrapper">
            <h1 class="article-title">Pregled računa</h1>
        </article>
        <div class= main-div>
            
            <div class="next list-wrapper">
                <div class="boxing lightblue">
                    <a href=""class="back">GO BACK</a>
                </div>
                   
            </div>
            <div class="menu-wrapper">
              
                <div class="box2 lightgray">
                    <p >Broj narudžbe: xxxxxxxx</p>
                    <p >Naručitelj:xxxxxxxxxx</p>
                    <p >Ime menze: xxxxxxxxx</p>
                    <p >Cijena:xxxxxx</p>
                    <p >Stanje pripreme :xx</p>
                </div>
              


            </div>
            <div class="next list-wrapper">
                <div class="boxing lightblue">
                    <a href=""class="back">CONTINUE</a>
                </div>
                   
            </div>
            
        </div> 

        
        
    </main>


</body>


</html>